@{
    ViewBag.Title = "Обзор";
}

<section ui-view>


</section>

<div class="dashboard">

    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion-thermometer"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Внутр. температура</span>
                    <span class="info-box-number">25</span>
                </div>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion-thermometer"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Наружн. температура</span>
                    <span class="info-box-number">93,139</span>
                </div>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion-umbrella"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Влажность</span>
                    <span class="info-box-number">410</span>
                </div>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion-android-sunny"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Освещенность</span>
                    <span class="info-box-number">13,648</span>
                </div>
            </div>
        </div>

    </div>

</div>