<div class="dashboard">

    <div class="row">

        <div class="col-md-3 cell cell-double">
            <div>
                <span class="name">Температура дома</span>
                <span class="value"><openhab-item-value data-item-name="Temperature_FF_Bed" data-type="temperature" /></span>
                <span class="suffix">°C</span>
            </div>
        </div>


        <div class="col-md-9">

            <div class="row">
                <div class="col-md-3 cell">
                    <div>
                        <span class="name">Температура в спальне</span>
                        <span class="value"><openhab-item-value data-item-name="Temperature_FF_Bed" data-type="temperature" /></span>
                        <span class="suffix">°C</span>
                    </div>
                </div>


                <div class="col-md-3 cell">
                    <div>
                        <span class="name">Температура в холле</span>
                        <span class="value"><openhab-item-value data-item-name="Temperature_FF_Bed" data-type="temperature" /></span>
                        <span class="suffix">°C</span>
                    </div>
                </div>


                <div class="col-md-3 cell">
                    <div>
                        <span class="name">Температура на кухне</span>
                        <span class="value"><openhab-item-value data-item-name="Temperature_FF_Bed" data-type="temperature" /></span>
                        <span class="suffix">°C</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 cell">
                    <div>
                        <span class="name">Ванная</span>
                        <span class="value"><openhab-item-value data-item-name="Temperature_FF_Bath" data-type="temperature" /></span>
                        <span class="suffix">°C</span>
                        <span class="value-separator" />
                        <span class="value"><openhab-item-value data-item-name="Temperature_FF_Bath" data-type="humidity" /></span>
                        <span class="suffix">%</span>
                    </div>
                </div>


                <div class="col-md-3 cell">
                    <div>
                        <openhab-simple-switch data-item-name="Light_C_Corridor_Ceiling" />
                    </div>
                </div>


                <div class="col-md-3 cell">
                    <div>
                        <openhab-item-value data-item-name="Temperature_FF_Office" data-type="temperature" />
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>