@color-subheader: #848484;

html{}

.content-wrapper{
    background: #f9fafc;
}

.dashboard{
    .info-box{
        .info-box-text{
            display: block;
            text-align: center;
        }

        .info-box-number{
            display: block;
            text-align: center;
            font-size: 36px;
            font-weight: normal;
            color: @color-subheader;
        }
    }
}
